PyPDF2
altair==4.2.2
beautifulsoup4
chardet
chromadb==0.3.26
colorcet
diskcache==5.2.1
elevenlabs
guidance
irc
keyboard
langchain==0.0.200
markdown
matplotlib
notion_client
openai
pathspec
playsound
plotly
pydub
pypdf
pyttsx3
scikit-learn
selenium==4.10.0
simpleaudio
soundfile
streamlit
tenacity
termcolor==2.3.0